body {
  align-items: center;
  position: relative;
}

.heading {
  position: relative;
  text-align: center;
  background-color: rgb(237, 241, 241);
  padding: 20px;
  margin: 0;
}

.home {
  width: 100%;
  height: 650px;
  background-color: azure;
  margin: 0;
  padding: 20px;
  position: relative;
}

.home h1 {
  font-size: 100px;
  font-family: "Source Sans Pro", sans-serrif;
  color: rgb(165, 14, 14);
  width: 50%;
  position: absolute;
  margin: 15% 5%;
}

.profile-photo {
  position: absolute;
  width: 30%;
  border-radius: 50%;
  margin-left: 60%;
  margin-top: 8%;
}

.home p {
  position: absolute;
  margin: 25% 8%;
  font-size: 40px;
  color: rgb(90, 39, 39);
}

.navbar {
  background-color: rgba(182, 43, 19, 0.76);
  overflow: hidden;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.about {
  position: relative;
  width: 100%;
  height: 600px;
  background-color: cyan;
  margin: 0;
  padding: 20px;
}

.about h3 {
  position: absolute;
  margin-top: 5%;
  margin-left: 55%;
  font-size: 50px;
  color: rgb(128, 14, 14);
}

.about_div {
  position: absolute;
  margin-top: 15%;
  margin-left: 43%;
  width: 50%;
  font-size: 20px;
  color: rgb(90, 39, 39);
}

.about img {
  position: absolute;
  width: 30%;
  border-radius: 50%;
  margin-left: 5%;
  margin-top: 4%;
}

.education {
  position: relative;
  width: 100%;
  height: 570px;
  background-color: rgba(190, 185, 176, 0.877);
  margin: 0;
  padding: 20px;
}

.education h3 {
  position: absolute;
  margin: 3% 40%;
  font-size: 50px;
  color: rgb(5, 25, 41);
}

.edu_div {
  position: absolute;
  margin: 10% 25%;
  width: 80%;
  font-size: 25px;
  color: rgb(90, 39, 39);
}

.contact {
  position: relative;
  width: 100%;
  height: 230px;
  background-color: rgba(162, 194, 231, 0.877);
  margin: 0;
  padding: 20px;
}

.contact_h3 {
  position: absolute;
  margin-top: 2%;
  margin-left: 10%;
  font-size: 25px;
  color: rgb(128, 14, 14);
}

.contact_div {
  position: absolute;
  margin: 5% 5%;
  width: 80%;
  font-size: 15px;
  color: rgb(90, 39, 39);
}

.jump_head {
  position: absolute;
  margin-top: 2%;
  margin-left: 70%;
  font-size: 25px;
  color: rgb(128, 14, 14);
}

.jump_div {
  position: absolute;
  margin: 5% 60%;
  width: 80%;
  font-size: 15px;
  color: rgb(90, 39, 39);
}
