.about {
  position: relative;
  width: 100%;
  height: 700px;
  margin: 0;
  padding: 20px;
}

.about h3 {
  position: absolute;
  margin-top: 5%;
  margin-left: 55%;
  font-size: 3.125rem;
}

.about_div {
  position: absolute;
  margin-top: 15%;
  margin-left: 43%;
  width: 50%;
  font-family: "Montserrat", sans-serif;
}

.about img {
  position: absolute;
  width: 30%;
  border-radius: 50%;
  margin-left: 5%;
  margin-top: 7%;
}
