body {
  text-align: center;
}

.serv-row {
  width: 70%;
  height: 20%;
  margin: 100px auto;
  text-align: left;
}

.service1-image {
  width: 20%;
  float: right;
  margin: 0 0 0 30px;
}

.service2-image {
  width: 20%;
  float: left;
  margin: 0 40px 0 0;
}

.service3-image {
  width: 20%;
  float: right;
  margin: 0 0 0 30px;
}
